/* Index page */

body {  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 50px;
    background-color: black;
}

ul,
.link-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

section {
    padding: 100px;
    display: flex;
    flex-direction: row;
}

.mac-content {
    background-color: yellow;
    color: orange;
}

.burger-content {
    background-color: brown;
    color: greenyellow;
}

.rice-content {
    background-color: orange;
    color: yellow;
}

footer {
    padding: 25px;
    background-color: black;
}

/* All recipe pages */

img {
    border: 10px solid black;
    height: auto;
    width: 500px;
}

h1 {
    text-align: center;
}
h2 {
    background-color: orange;
    color: white;
}

h3 {
    background-color: yellow;
}

h4 {
    background-color: red;
    color: gray;
}